.center {
    h1 {
        font-size: 30px !important;
     font-family: roboto !important;
     font-weight: bold;
    }
    .space {
        margin: 4px !important;
    }   
}

.gs-container1  {
    background: #1D1D1D;

    h5 {
        float: right;
    }
    .mid-sec-but {
        margin: 0 auto;
    }

    .p-dropdown {
        background: #ffffff00 !important;
        border: 1px solid #ced4da00  !important; 
    }
}

.p-inputtext {
    border: 0px !important;
}

 