.prog-marks {
    text-align: center;
}

.progress-container {
    height: 160px;
    padding-top: 65px !important;
    h3 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        }

        .p-progressbar {
            position: relative;
            overflow: hidden;
            width: 908px;
            height: 12px;
            margin: 0 auto;
            border-radius: 6px;

            .p-progressbar-label {
                display: none;
            }
        }
}