@font-face {
  font-family: 'drivehelix';
  src:  url('fonts/drivehelix.eot?8kwnsd');
  src:  
    url('fonts/drivehelix.eot?8kwnsd#iefix') format('embedded-opentype'),
    url('fonts/drivehelix.ttf?8kwnsd') format('truetype'),
    url('fonts/drivehelix.woff?8kwnsd') format('woff'),
    url('fonts/drivehelix.svg?8kwnsd#drivehelix') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

.hi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'drivehelix' !important;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi:before {
  --webkit-backface-visibility:hidden;
  backface-visibility: hidden;
}

.hi-fw {
  width: 1.28571429em;
  text-align: center;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
  .icon-tree-graph {
    width: 1.25em;
  }
  
  .icon-helix {
    width: 0.8251953125em;
  }
  
  .icon-beat {
    width: 1.25em;
  }
  


  .icon-icon-oper:before {
    content: "\e905";
  }
  .icon-dots:before {
    content: "\e900";
  }
  .icon-add-more:before {
    content: "\e901";
  }
  .icon-helix:before {
    content: "\e903";
  }
  .icon-beat:before {
    content: "\e904";
  }
  .icon-tree-graph:before {
    content: "\e902";
  }
  