.p-accordion .p-accordion-header .p-accordion-header-link {
    color: #ffffff !important;
    background: #f8f9fa i !important;
}
.p-accordion .p-accordion-header .p-accordion-header-link {

    background-color: rgba(0, 0, 0, 0) !important;
    
}

.p-col-2 {
    flex: 0 0 auto;
    padding: 0PX !important;
}

.p-button.p-button-secondary.p-button-text, .p-buttonset.p-button-secondary > .p-button.p-button-text, .p-splitbutton.p-button-secondary > .p-button.p-button-text {
    background-color: transparent;
    color: #ffffff !important;
    border-color: transparent;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    // border: 0px 0px solid !important; 
    border-width:1px !important;
    border-style:solid !important;
    border-color: #393939 !important;
    border-left: 1px !important;
    border-right: 1px !important;
    border-top: 1px !important;
    // border-bottom: 1px !important;

}

.p-accordion .p-accordion-content {
    padding: 1rem;
    border: 1px solid #39393900 !important; 
    background: #3E3E3E !important;
    color: #e8e8e8;
}
.p-col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0rem !important;
    /* padding: 0.5rem; */
}

.but-spc {
    margin: 0px 0px 0px 30px;
}

h6 {
    float:left;
}

.p-button.p-button-danger.p-button-text, .p-buttonset.p-button-danger > .p-button.p-button-text, .p-splitbutton.p-button-danger > .p-button.p-button-text {
    background-color: transparent;
    color: white !important;
    border-color: transparent;
    width: 100%;
}

.p-button-label {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
}

.cam-title {
    border-bottom: 1px #ffffff1f solid;
}

.p-button.p-button-secondary.p-button-text, .p-buttonset.p-button-secondary > .p-button.p-button-text, .p-splitbutton.p-button-secondary > .p-button.p-button-text {

    display: block;
}