.modal-header {
    background-color: #2b2b2b;
    border-bottom: 1px solid #ffffff45;
    height: 162px;
    // border-top: 1px solid white;
    .styled-table {
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        width: 100%;
        padding: 0px;
        margin-top: 12px;
    }
    .mod-main-img { 
        width: 100px;
        height: 100px;
        border-radius: 66%;
        margin-top: 10px;
        margin-right: 10px;
        border: solid 3px #ffffff94;
    }
}