@charset "UTF-8";
/* CSS Document */


/* Search Input */
.p-inputtext:enabled:hover {
    border-color: #2196f3;
    border-radius: 50px;
}
.p-inputtext {
    margin: 0;
    border-radius: 50px;
    padding-left: 10px;
}



/* BUTTONS */


/* Blue - Standard*/

button.p-button.p-component.bot-sec-button {
    position: absolute;
    border-radius: 50px;
    text-align: center;
    min-width: 145px !important;
    height: 45px;
    margin: 25px;
    padding: 0;
    object-fit: contain;
}

.p-button-label {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    width: 100%;
    height: auto;
    object-fit: contain;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.12px;
    text-align: center;
    color: var(--white);
}

/*green - Promote*/

button.p-button.p-component.bot-sec-button#green {
    position: absolute;
    border-radius: 50px;
    text-align: center;
    min-width: 145px !important;
    height: 45px;
    margin: 25px;
    padding: 0;
    object-fit: contain;
    background-color: #4fb057;
}

#green {
    background-color: #4fb057;
}

/*red - alert - Promote*/

button.p-button.p-component.bot-sec-button#red {
    position: absolute;
    border-radius: 50px;
    text-align: center;
    min-width: 145px !important;
    height: 45px;
    margin: 25px;
    padding: 0;
    object-fit: contain;
    background-color: #e02834;
}

#red {
    background-color: #e02834;
}

/*orng - Boost*/

button.p-button.p-component.bot-sec-button#orng{
    position: absolute;
    border-radius: 50px;
    text-align: center;
    min-width: 145px !important;
    height: 45px;
    margin: 25px;
    padding: 0;
    object-fit: contain;
    background-color: #f5a623;
}

#orng {
    background-color: #f5a623;
}




/* TEXT ICON VIEW */

.p-buttonset .p-button:not(:last-child) {
    border-right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.p-selectbutton .p-button.p-highlight {
    background: #2196f3;
    border-color: #2196f3;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.product-list-detail.p-col-12 {
    float: left;
    display: block;
    width: 55%;
    position: relative;
}



/* TEXT ICON VIEW */



/*
.product-list-item {}*/


.p-panel .p-panel-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: rgb(0,0,0,0.55) !important;
    color: #ffffff !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-panel .p-panel-header .p-panel-title {
    font-weight: 600;
    font-size: 35px; 
}

.p-panel .p-panel-content, .p-panel .p-panel-footer {
    background: rgb(0,0,0,0.55);
    color: #ffffff !important;
    border: 1px solid;
    border-color: rgb(250,250,250,0.55);
    border-top: 0;
}
.p-card {
    background: rgb(0,0,0,0.55);
    color: #ffffff !important;
    -webkit-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
}
.p-tabview .p-tabview-nav {
    background: transparent;
    border: solid 0px;
    border-width: 0 0 2px;
}

.p-tabview .p-tabview-nav {
    border: none;
    border-width: 0 0 2px;
    background: transparent !important;
    border: solid 0px !important;
    border-width: 0px !important;
}

.p-tabview .p-tabview-panels {
    background: rgb(0,0,0,0.55) !important;
    padding: 1rem;
    border: 0;
    color: #ffffff !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.p-tabview .p-tabview-panels {
    background: transparent !important;
    padding: 1rem;
    border: 0;
    color: #ffffff !important;
    border-bottom-right-radius: 3px;
    background: rgb(0,0,0,.25) !important;
    border-bottom-left-radius: 3px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: rgb(0,0,0,0.25) !important;
    border-color: #2196f3;
    color: #ffffff !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: 0 solid transparent;
    border-bottom: 2px solid #dee2e6;
    background: rgb(0,0,0,0.15);
    color: #ffffff !important;
    padding: 1rem;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    margin: 0 0 -2px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: rgb(0,0,0,0.25) !important;
    border-color: #2196f3;
    color: #2196f3 !important;
}

.p-panel .p-panel-content, .p-panel .p-panel-footer {
    background: #fff;
    color: #495057;
    border: 1px solid #dee2e6;
    border-top: 0;
    background: rgb(0,0,0,0.55);
    color: #ffffff;
    border: 1px solid;
    border-color: none !important;
    border: none !important;
    border-top: 0;
}

.p-panel .p-panel-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: rgb(0,0,0,0.0);
    color: #ffffff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: none !important;
    padding: 1rem;
    background: rgb(0,0,0,0.55) !important;
    color: #ffffff !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    background-color: #232327 !important;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-topbar .layout-menu-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: color .2s;
    display: none;
}

.p-card .p-card-subtitle {
    font-weight: 400;
    margin-bottom: .5rem;
    color: #ffffff !important;
    font-size: 18px !important;
}

.p-component {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 2.1rem;
    font-weight: 400;
}

.dashboard .contacts ul li button .email {
    position: relative;
    right: 10px;
    top: 0;
    font-size: 2.1rem;
    color: #fff;
    font-weight: 200 !important;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    display: block;
    float: right;
}

.dashboard .contacts ul li button {
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    display: block;
    border-radius: 2px;
    transition: background-color .2s;
    float: left;
    padding-top: 15px;
}

.dashboard .contacts ul li a {
    padding: 9px;
    width: 55px;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    display: block;
    border-radius: 2px;
    transition: background-color .2s;
    float: left;
    padding-top: 15px;
    padding-right: 25px;
}

.dashboard .contacts ul li img {
    padding: 9px;
    width: 55px;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    display: block;
    border-radius: 2px;
    transition: background-color .2s;
    float: left;
    padding-top: 15px;
    margin-right: 15px;
}

.p-accordion .p-accordion-content {
    padding: 1rem;
    border: 1px solid rgba(57,57,57,0)!important;
    background: rgb(250,250,250,0.15) !important;
    color: #ffffff !important;
}

.p-card .p-card-body, .p-card .p-card-content {
    height: 100%;
    background-color: rgb(0,0,0,0.5) !important;
}

.dashboard .contacts ul li button {
    position: relative;
    display: block;
    right: 10px;
    top: 10px;
    font-size: 20px;
    float: right !important;
    width: 100%;
}

button {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #ffffff !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
    font: 400 13.3333px Arial;
}

span.name {
    position: relative;
    right: 10px;
    top: 0;
    font-size: 2.1rem;
    color: #fff;
    font-weight: 200 !important;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    display: block;
    float: left;
}