$color: #00a6e6;

.head {
  width: 100%;
  height: 45px;
  color: white;
  font-family: arial;
  background-color: $color;
  // margin: auto;

  .head-tit {
    font-size: 20px;
    float: left !important;
    margin-top: 10px;
  }
}

.body {
  width: 451px;
  height: 203px;
}

.footer {
  width: 100%;
  height: 45px;
  color: white;
  font-family: arial;
  font-size: 10px;
  background-color: $color;

   .footer-total {
    text-align: left;
    float: left;
    font-size: 20px;
    margin-top: 10px;
   }

   .footer-price {
     text-align: right;
     float: right;
     font-size: 20px;
    margin-top: 10px;
   }
}
