.bottom-sec.p-col-12 {
    position: absolute;
    bottom: 0;
    // margin-top: auto;
    background-color: #303030;
    text-align: center;
    height: 229px;
}

.top-sec.p-col-12 {
    position: absolute;
    height: 85px;
    background-color: #303030;
    top: 0;
    text-align: center;
}


.main-sec.p-col-12.p-mr-2.p-as-stretch {
    position: absolute;
    top: 35%;
}

.top-sec .p-col-12 {
    background-color: #303030 !important;
}
.p-card .p-card-body {
    padding: 0rem !important;
}

.p-col-7 {
    flex: 0 0 auto;
    padding: 0 !important;
}
.parent-main {
position: relative;
height: 100%;
}

.p-card .p-card-content {
    height: 100%;
    background-color: #252525  !important;
}
.p-card .p-card-body {
    height: 100%;
    background-color: #252525  !important;

}

.p-card {
    background-color: #252525  !important;

}

.p-card .p-card-content {
    padding: 0rem 0 !important;
}

.steps-demo {
    position: absolute;
    width: 97%;
    bottom: 5px;
}

button.p-button.p-component.bot-sec-button {
    position: absolute;
    bottom: 130px;
}


