.modal-base-wrapper {
    border-right: 0px solid !important;
    .p-panel-header {
        border-right: 0px solid !important;
        display: block !important;
        .p-panel-title { 
            text-align: center !important;  
            display: block !important;
            font-weight: bold !important;
            color: white;
        }
        
    }

    .p-field-checkbox, .p-field-radiobutton {
          margin-bottom: 0rem !important;
    }
}

.modal-base {
    tr {
    border-bottom: 1px solid grey;
}
    td.mid-cont {
       width: 200px;
        border-left: 1px solid grey;
    }
    .p-field-checkbox, .p-field-radiobutton {
        margin-bottom: -14px  !important;
    }
    td.img-cont.p-grid {
        margin-top: 5px;
    }
    .box-text1 {
        text-align: center !important;
        font-weight: bold;
        font-size: 20px  !important;
    }

    pi-facebook {
        text-align: center !important;
    }
    .modal-i {
        text-align: center;
        padding: 13px;
    }
    
}
