.img-thumb {
    width: 100px;
    height: 100px;
    border-radius: 25px !important;
  }

  .img-text {
    // float: right;
    text-align: left !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0px !important;
  }
  
  .img-text-cont {
    margin: 5px !important;
  }
  
  .img-org {
    float: left;
    right: 0px;
  }
  
  .box-text {
    text-align: right;
  }
  
  .img-cont {
    width: 270px;
  }
  

.content-section {
    height: 100%  !important;
}

.p-datatable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    height: 100% !important;
    overflow: scroll !important;
}

.p-datatable::-webkit-scrollbar {
  width: 12px;        
}

.p-datatable::-webkit-scrollbar-track {
  background: rgba(148, 148, 148, 0);        /* color of the tracking area */
}

.p-datatable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.p-datatable-wrapper {
    height: 100% !important;

}

.p-datatable {
    position: relative;
    height: 100% !important;
    overflow: scroll !important;

}

.p-button {
    border-radius: 20px !important;
    width: 141px;
    height: 28px;
    text-align: center !important;
    float: right !important;
    .p-button-label {
        text-align: center !important;
     }

}

.p-paginator {
    display: none !important;
}

.card {
  background-color: rgba(255, 255, 255, 0) !important;
} 
