.p-dataview .p-dataview-content {
    background-image: initial;
    background: #2B2B2B !important;
    color: rgb(181, 175, 166);
    border-color: initial;
    overflow: scroll;
    max-height: 738px;
    overflow: hidden !important;
    overflow: scroll;
}

.p-dataview .p-paginator-bottom {
    display: none;
}

.p-dataview .p-dataview-header {
    background: #353535 !important;
    color: #495057;
    border: 0px solid #e9ecef;
    border-width: 0px 0 0px 0 !important;
    padding: 1rem 1rem !important;
    font-weight: 600;
}

.product-list-detail.p-col-12 {
    float: right;
    width: 55%;
}

.p-col-1.col-img {
    float: left;
}

.bottom-sec-container {
    height: 100%;
    position: relative;
}

.bot-sec-steps {
    position: absolute;
    bottom: 0;
}