.p-toggleable-content {
    height: 100% !important;
}

.dashboard-container {
    overflow: hidden !important;
    position: relative;
}

thead.p-datatable-thead {
    display: none;
}

.p-panel {

    .p-panel-content {
        // border-right: 1px solid #dee2e6;
        color: #ffffff !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top: 0 none;
        height: 100%;
        padding: 0rem !important;

    }

    // .p-panel-header {
    //     border-right: 1px solid #dee2e6 !important;
    //     padding: 1rem;
    //      background: #f8f9fa00 !important; 
    //     color: #ffffff;
    //     border-top-right-radius: 0px;
    //     border-top-left-radius: 0px;
    // }   

}


.mainstyle{
    .p-panel-header {
        border-bottom: 1px solid #ffffff;
    }

    .p-panel-content {
        background-color: #181818 !important;
    }
}

.navstyle {
    margin: 0 auto !important;
    font-weight: 100 !important;
    overflow: hidden;
    overflow-x: hidden;
    
    span {
        margin: 0 auto !important;
        font-weight: 100 !important;
    }
}