.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    padding: 0px;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #000000;
    color: #000000;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 20px 20px;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 10px 20px;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
  }
  .main-img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .img-text {
    float: left;
    text-align: left !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 15px;
    line-height: 1.3;
  }
  
  .img-text-cont {
    margin: 5px !important;
    font-size: 18px;
  }
  
  .img-org {
    float: left;
    right: 0px;
  }
  
  .box-text {
    text-align: right;
  }
  
  .box-text1 {
    text-align: left;
  }
  
  .img-cont {
    width: 300px;
  }
  
  .mid-cont {
    width: 100px;
    margin-left: 50px;
  }
  
  .low-cont {
    width: 5px;
  }
  
  .mid-cont p {
  }
  
  p {
    font-size: 12px !important;
  }
  