* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $fontSize;
    color: $textColor;
    background-color: $bodyBgColor;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 70%;
}

a {
    text-decoration: none;
    color: #2196f3;
}

.layout-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: white !important;
}

