.center {
    h1 {
        font-size: 30px !important;
     font-family: roboto !important;
     font-weight: bold;
    }
    .space {
        margin: 4px !important;
    }   
}

.gs-container2  {
    background: #181818 ;

    h5 {
        text-align: right;
        padding-top: 5px;
    }
    .mid-sec-but {
        margin: 0 auto;
    }

    .p-dropdown {
        background: #ffffff00 !important;
        border: 1px solid #ced4da00  !important; 
    }
}

