.App {
    text-align: center;
    padding-top: 2rem;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    .p-panel-title {
        font-weight: 200 !important;
        color: grey;
    }
  }
  
  .modal {
    z-index: 100;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 941px;
    // padding: 2rem;
    background-color: #1d1d1d;
    height: 100%;
    margin-top: 101px;
    border-left: 1px solid;
    border-color: #ffffff45;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }