@use '_variables';

.center {
    margin: $center-div;
}

.center-pad {
    padding: 23px ;
}

.w-xsmall {
    width: $xsmall;
}

.w-small {
    // width: $small;
}

.bb {
    border-bottom: $b-bottom;
    border-color: $b-color;
}

.bt {
    border-top: $b-top;
    border-color: $b-color;
}

.p-top {
    padding-top: $top;
}

.p-bot {
    padding-bottom: $bottom;
}

.hh {
    height: $h-height;
}